version: '3.9'

services:
  db:
    image: postgres:16-alpine
    container_name: shop_db
    environment:
      POSTGRES_DB: project1_shop_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: binhbaoan12
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: shop_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=project1_shop_db
      - DB_USER=postgres
      - DB_PASSWORD=binhbaoan12
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: shop_frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
